# Compiled Documents
*.pdf
*.ps
*.s2p
VnaScan
VnaScanMultithreaded
VnaCommandParser
TestVnaScanMultithreaded
TestVnaCommandParser
TestVnaCommunication
test/tmp/*
*.out

# Shared libraries
*.so
*.dylib
*.dll

# Python env
.venv
.env