# Compiled Documents
*.pdf
*.ps
*.s2p
VnaScan
VnaScanMultithreaded
VnaCommandParser
TestVnaScanMultithreaded
TestVnaCommandParser
TestVnaCommunication
test/tmp/*
*.out

# Shared libraries
*.so
*.dylib
*.dll

# Python env
.venv
.env

# Python bytecode and cache
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/
.coverage
htmlcov/
*.cover